:root {
    --main-color: #457B9D;
    --secondary-color: #8D99AE;
    --third-color: #EDF2F4;
    --background-color: #ededed;
    --panel-color: #fafafa;
}

html, body {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 250px 40px 1fr 40px 1fr 40px;
    grid-template-rows: 100px 40px 180px 40px auto 40px;
    background-color: var(--background-color);
}

h1, p {
    font-family: Arial;
}

/* Header */
header {
    grid-row: 1;
    grid-column: 1/7;
    background-color: var(--main-color);
    padding-left: 10px;
}

#title {
    color: white;
    text-align: center;
    font-size: 1.4em;
    text-align: left;
    margin-left: 0;
    line-height: 100px;
}

/* General panel styling */
.panel {
    background-color: var(--panel-color);
    padding: 30px;
    border-radius: 10px;
}

.panelHeader {
    color: var(--main-color);
    font-size: 1.4em;
}

hr {
    border: 1px solid #f2f2f2;
}

/* Patient sidebar */
#divPatientList {
    grid-column: 1;
    grid-row: 3/6;
    background-color: var(--panel-color);
    padding: 10px;
}

.divPatient {
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--background-color);
}

.divPatient:hover {
    box-shadow: 2px 2px 5px lightgray;
}

.patientName {
    color: var(--main-color);
}

/* Today panel */
#divToday {
    grid-column: 3;
    grid-row: 3;
}

#pTodayStatus {
    color: green;
    font-weight: bold;
    font-size: 2em;
    float: right;
}

/* Detail panel */
#divPatientDetails {
    grid-column: 5;
    grid-row: 3;
}

/* History panel */
#divPatientHistory {
    grid-column: 3/6;
    grid-row: 5;
}

#divHistoryGrid {
    display: grid;
    height: calc(100% - 35px);
}



